---
import "../assets/index.css";
import "../assets/reset.css";
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.png" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Pivot Up^</title>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-1P28986HWC"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-1P28986HWC');
	</script>
</head>

<body>
	<main role="main">
		<a href="/" class="logo">
			<img src="/logo.svg" alt="Welcome to Pivot Up^" width="315" height="99" />
		</a>

		<nav>
			<a href="https://youtube.com/channel/UCp0sOWlYeLx69gDmq29L-2g" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
					<path
						d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
					<path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
				</svg> YouTube
			</a>

			<a href="https://twitter.com/pivotupclub" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
					<path
						d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
					<path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
				</svg> Twitter
			</a>
			<a href="https://literal.club/pivotup" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg"
					class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
					<path
						d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
					<path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
				</svg> Literal
			</a>
			<a href="https://pivotup.club">pivotup.club</a>
		</nav>
	</main>
</body>

</html>