---
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.png" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Pivot Up^</title>
	<style>
		html,body {
			min-height: 100vh;
		}

		body {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	</style>
</head>

<body>
	<img src="/logo.svg" alt="Welcome to Pivot Up^" />
</body>

</html>
