<footer>
    <nav>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="https://youtube.com/channel/UCp0sOWlYeLx69gDmq29L-2g" target="_blank" rel="noreferrer">YouTube</a>
        <a href="https://twitter.com/pivotupclub" target="_blank" rel="noreferrer">Twitter</a>
        <a href="https://literal.club/pivotup" target="_blank" rel="noreferrer">Literal</a>
    </nav>
</footer>