<header>
    <nav>
        <a href="/chess">Chess</a>
        <a href="/go">Go</a>
        <a href="/cyber">Cyber</a>
        <a href="/code">Code</a>
        <a href="/poker">Poker</a>
        <div data-netlify-identity-menu></div>
    </nav>
</header>